extends ../layout_home

block content
      link(rel="stylesheet", href="/css/alarmDetail.css")
      link(rel="stylesheet", href="/css/thema/alarm_thema.css")
      script(src="/js/detail.js")
      script(src="/js/setting/setting_thema.js")
      div.body
        section 
          
          div.divBox(data-p_seq= `${PRODUCT.p_seq}`)
            div.detail
              strong 식품설명
              span #{PRODUCT.p_name}
            div.detail
              strong 등록날짜
              span #{PRODUCT.p_date}
            div.detail
              strong 유통기한
              span #{PRODUCT.p_exdate}
            div.detail
              strong 메모
              span #{PRODUCT.p_memo}
            div.detail
              strong 수량
              span #{PRODUCT.p_quan}
                    
            div.btnBox(data-p_seq= `${PRODUCT.p_seq}`)
              button.update(data-p_seq= `${PRODUCT.p_seq}`) 수정
              button.delete(data-p_seq= `${PRODUCT.p_seq}`) 삭제
              button.list 목록으로