extends ../layout_home

block content
    link(rel="stylesheet", href="/css/fridge/add_food.css")
    link(rel="stylesheet", href="/css/thema/fridge_add_thema.css")
    script(src="/js/add_food.js")
    script(src="/js/setting/setting_thema.js")
    div.body
        section
            if food.p_fseq    
                h1 #{food.p_name} 수정  
            else 
                h1 음식 추가
            form.add(method="POST")
                div.input
                    input.seq(name="p_fseq" value= `${food.p_fseq? food.p_fseq : food.f_seq}`)
                    span 음식이름
                        if food.p_name
                            input(name="p_name" placeholder="음식 이름을 입력하세요" value=`${food.p_name}`)
                        else 
                            input(name="p_name" placeholder="음식 이름을 입력하세요")
                    span 구매날짜
                        input(type="date" name="p_date" placeholder="구매날짜를 입력하세요" value=`${food.p_date}`)
                    span 소비기한
                        input(type="date" name="p_exdate" placeholder="유통기한을 입력하세요" value=`${food.p_exdate}`)
                    span 구매수량
                        input(type="number" name="p_quan" placeholder="수량을 입력하세요" value=`${food.p_quan}`)
                    span 　메모　
                        if food.p_memo
                            input(name="p_memo" placeholder="메모를 입력하세요" value=`${food.p_memo}`)
                        else 
                            input(name="p_memo" placeholder="메모를 입력하세요")
                div.btn(data-p_fseq= food.p_fseq)
                    input(type="submit", value =`${food.p_fseq ? "수정" : "추가"}`) 





