extends ../layout_home

block content
    link(rel="stylesheet", href="/css/fridge/add_food.css")
    script(src="/js/add_food.js")
    div.body
        section
            if food    
                h1 #{food.p_name} 수정  
            else 
                h1 음식 추가
            form.add(method="POST")
                div.div
                    input(name="p_fseq" value=`${food.p_fseq}` readonly)
                div.select
                    label#fresh(for="select_div" value="fresh") 냉장
                    label#cold(for="select_div" value="cold") 냉동
                    label#out(for="select_div" value="out") 실외
                        input(id="select_div" name="f_div") 
                div.input
                    if PRODUCT
                        input(name="p_name" placeholder="음식 이름을 입력하세요" value=`${PRODUCT ? PRODUCT.p_name : ""}`, readonly="readonly")
                    else 
                        input(name="p_name" placeholder="음식 이름을 입력하세요" value=`${PRODUCT ? PRODUCT.p_name : ""}`)
                    input(name="p_date" placeholder="구매날짜를 입력하세요" value=`${PRODUCT ? PRODUCT.p_date : ""}`)
                    input(name="p_exdate" placeholder="유통기한을 입력하세요" value=`${PRODUCT ? PRODUCT.p_exdate : ""}`)
                    input(name="memo" placeholder="메모를 입력하세요" value=`${PRODUCT ? PRODUCT.p_memo : ""}`)
                    input(name="p_quan" placeholder="수량을 입력하세요" value=`${PRODUCT ? PRODUCT.p_quan : ""}`)
                div.btn
                    input(type="submit", value =`${PRODUCT ? "수정" : "추가"}`) 





