extends ../layout_home

block content
    link(rel="stylesheet", href="/css/fridge/add_food.css")
    script(src="/js/add_food.js")
    div.body
        section
            if food.p_fseq    
                h1 #{food.p_name} 수정  
            else 
                h1 음식 추가
            form.add(method="POST")
                //- div.div
                //-     input.fseq(name="f_seq" value=`${food.p_fseq}` )
                //- div.select
                //-     label#fresh(for="select_div" value="fresh") 냉장
                //-     label#cold(for="select_div" value="cold") 냉동
                //-     label#out(for="select_div" value="out") 실외
                //-         input(id="select_div" name="f_div") 
                div.input
                    input.seq(name="p_fseq" value= `${food.f_seq}`)
                    span 음식이름
                        if food
                            input(name="p_name" placeholder="음식 이름을 입력하세요" value=`${food ? food.p_name : ""}`)
                        else 
                            input(name="p_name" placeholder="음식 이름을 입력하세요" value=`${food ? food.p_name : ""}`)
                    span 구매날짜
                        input(type="date" name="p_date" placeholder="구매날짜를 입력하세요" value=`${food ? food.p_date : ""}`)
                    span 소비기한
                        input(type="date" name="p_exdate" placeholder="유통기한을 입력하세요" value=`${food ? food.p_exdate : ""}`)
                    span 구매수량
                        input(type="number" name="p_quan" placeholder="수량을 입력하세요" value=`${food ? food.p_quan : ""}`)
                    span 　메모　
                        input(name="memo" placeholder="메모를 입력하세요" value=`${food ? food.p_memo : ""}`)
                div.btn
                    input(type="submit", value =`${food.p_fseq ? "수정" : "추가"}`) 





