extends ../layout_home

block content
    link(rel="stylesheet", href="/css/fridge/fridge_list.css")
    link(rel="stylesheet", href="/css/thema/fridge_list_thema.css")
    script(src="/js/setting/setting_thema.js")
    script(src="/js/fridge_list.js")
    div.body 
        section 
            div.btn_myRef 
                h1= FOOD.f_name
            div.btn_group 
                button.btn_add(data-food= `${FOOD.f_seq}`) 음식추가
                button.btn_delete(data-num= `${FOOD.f_seq}`) 냉장고삭제
            div.food_box.input
                each item in FOOD.F_음식
                    div.food.input.list(data-food= `${item.p_seq}`)
                        ul.input(data-food= `${item.p_seq}`)
                            li.input ✓ 음식이름 :   
                                span.input.item= item.p_name
                            li.input ✓ 수량 : 
                                span.input.item= item.p_quan
                            li.input ✓ 구매일자 :  
                                span.input.item= item.p_date
                            li.input ✓ 소비기한 : 
                                span.input.item= item.p_exdate
                             
                                
                
                    