extends ../layout_home

block content
    link(rel="stylesheet", href="/css/fridge/fridge_list.css")
    link(rel="stylesheet", href="/css/thema/fridge_list_thema.css")
    script(src="/js/setting/setting_thema.js")
    script(src="/js/fridge_list.js")
    div.body 
        section 
            div.btn_myRef 
                h1= FOOD.f_name
            div.btn_group 
                button.btn_add(data-food= `${FOOD.f_seq}`) 음식추가
                button.btn_delete(data-num= `${FOOD.f_seq}`) 냉장고삭제
            div.food_box
                each item in FOOD.F_음식
                    div.food(data-food= `${item.p_seq}`)
                        ul(data-food= `${item.p_seq}`)
                            li ✓ 음식이름 :   
                                span= item.p_name
                            li ✓ 수량 : 
                                span= item.p_quan
                            li ✓ 구매일자 :  
                                span= item.p_date
                            li ✓ 소비기한 : 
                                span= item.p_exdate