extends ../layout_home

block content
  link(rel="stylesheet", href="/css/alarmDetail.css")
  script(src="/js/fridge_detail.js")
  div.body
    section
      each item in FOOD
        div.divBox(data-food = `${item.p_num}`)
          div.name
            h2.line=item.p_name
          div.detail
            strong 등록날짜
            span= item.p_exdate
          div.detail
            strong 유통 기한
            span=item.p_date
          div.detail
            strong 저장방법
            span
          div.detail
            strong 수량
            span=item.p_quan
          div.btnBox
            button.update 수정
            button.delete 삭제
            button.list 목록으로