extends ../layout_home

block content
    link(rel="stylesheet", href="/css/shopmemo.css")
    link(rel="stylesheet", href="/css/thema/shop_thema.css")
    script(src="/js/setting/setting_thema.js")
    script(src="/js/shopmemo.js")
 
    div.body
        section.box 
            form.listInput(method="POST") 
                div.box 
                    div.name
                        input.name(name="s_name",placeholder="살것")
                    div.amount
                        div.plus +
                        input.amount(name="s_quan",type="number", min="1", placeholder="수량")
                        div.minus -
                button(type="button").addmemo 추가
            //- 장바구니 리스트
            div.listbox
                table.cartlist
                    tbody 
                        if (SHOPPING && SHOPPING.length > 0) || (SHOPPING2 && SHOPPING2.length > 0)
                            each item in SHOPPING 
                                tr.nocheck
                                    td.buy= " ✓ "
                                    td.s_seq= item.s_seq 
                                    td.s_name= item.s_name 
                                    td= " - "
                                    td.s_quan= item.s_quan
                                    td= "개 "
                                    td.delete= " X "
                                    td.s_ox= item.s_ox
                            each item in SHOPPING2
                                tr.check 
                                    td.buy= " ✓ "
                                    td.s_seq= item.s_seq 
                                    td.s_name= item.s_name 
                                    td= " - "
                                    td.s_quan= item.s_quan
                                    td= "개 "
                                    td.delete= " X "
                                    td.s_ox= item.s_ox
                        else
                            tr.cart
                                td(colspan='6') 장보기 목록을 추가해주세요!
                    
            div.btn_box
                button.delete 전체삭제
                button.save 저장
       

