extends ../layout_home


block content
    link(rel="stylesheet", href="/css/calendar.css")
    
    div.container
        section
            div.box 
                p.when= row
                div.list
                    div
                        p 구매한 날짜
                        p 구매한 물품
                        p 구매한 갯수
                        p 유통기한
                    each item,index in result 
                        div 
                            p=item.p_date 
                            p=item.p_name
                            p=item.p_quan
                            p=item.p_exdate
                                                                                              
            
